/* Icons Source: https://www.iconfinder.com/iconsets/small-n-flat */
.app {
    text-align: center;
}

.app__header {
    background: #ebedee;
    /* background: -webkit-linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
    background: -moz-linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
    background: -o-linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
    background: -ms-linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
    background: -webkit-gradient(linear, to bottom, color-stop(0%, #fdfbfb), color-stop(100%, #ebedee));
    background-image: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%); */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    height: 160px;
    padding: 20px;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 8px 19px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.card__input {
    border: 0;
    color: #383838;
    font-size: 1.25rem;
    height: 44px;
    margin-top: 7px;
    width: 95%;
}

.card__searchbutton {
    cursor: pointer;
    font-size: 40px !important;
    height: 60px;
    padding-top: 10px;
}

.card__input.active,
.card__input:focus {
    border: none;
    outline: none;
}

.card--gray {
    background-color: #bbbbbb;
}

.card--searchbar {
    border: 0 !important;
    border-radius: 0 !important;
    height: 60px;
    margin-top: 25px;
}

.card--buttoncolor {
    color: #737373;
}

.card--buttoncolor:hover {
    color: #a8a8a8;
}

::placeholder {
    color: #5f5f5f;
    color: rgba(0, 0, 0, 0.2);
    font-size: 1.25rem;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #5f5f5f;
    color: rgba(0, 0, 0, 0.2);
    font-size: 1.25rem;
}

::-ms-input-placeholder {
    color: #5f5f5f;
    color: rgba(0, 0, 0, 0.2);
    font-size: 1.25rem;
}

.app__content {
    display: block;
    min-height: 500px;
    padding-bottom: 30px;
    width: 100%;
}

.app__heading__icon {
    color: #737373;
    float: left;
    font-size: 10px;
    padding-right: 4px;
    padding-top: 6px;
}

.app__heading {
    color: #737373;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    margin: 0;
    padding-top: 10px;
    text-align: left;
    text-transform: capitalize;
}

/* Recently closed card class */
.card--recent {
    border: 0 !important;
    border-radius: 5px;
    height: 160px;
    margin-top: 5px;
}

.card--recent:hover{
    box-shadow: 0 8px 19px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transform: scale(1.07, 1.07);
}

.card__title--recent {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 0px;
    text-align: left;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
}

.card__host--recent {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    opacity: 0.5;
    overflow: hidden;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    text-overflow: ellipsis;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    text-transform: initial;
    white-space: nowrap;
}

.card__image--recent {
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
    /* border-radius: 50%; */
    filter:blur(0px);
    height: 50px;
    opacity: 1;
    width: 50px;
}

.card__image--google {
    background: url("../img/goog.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    /* border: 1px solid rgba(0, 0, 0, 0.25); */
    /* filter: blur(3px); */
    image-rendering: optimizeQuality;
}

.card__image--fbpx {
    background: url("../img/fb.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    /* border: 1px solid rgba(0, 0, 0, 0.25); */

    /* filter: opacity(70%); */
    image-rendering: optimizeQuality;
}

.card__image--moz {
    background: url("../img/moz.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    /* border: 1px solid rgba(0, 0, 0, 0.25); */

    /* filter: opacity(70%); */
    image-rendering: optimizeQuality;
}

.card__image--pdf {
    background: url("../img/pdffeed.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    /* border: 1px solid rgba(0, 0, 0, 0.25); */

    /* filter: opacity(70%); */
    image-rendering: optimizeQuality;
}

.card__image--hr {
    background: url("../img/hr.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    /* border: 1px solid rgba(0, 0, 0, 0.25); */

    /* filter: opacity(70%); */
    image-rendering: optimizeQuality;
}

.card__image--github {
    background: url("../img/github.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    /* filter: blur(5px); */
    /* filter: opacity(70%); */
    image-rendering: optimizeQuality;
}

.card--grad1 {
    background-image: linear-gradient(120deg, #e5692a 0%, #d46159 100%);
}

.card--grad2 {
    background-image: linear-gradient(120deg, #88d3ce 0%, #6e45e2 100%);
}

.card--grad3 {
    background-image: linear-gradient(120deg, #537895 0%, #09203f 100%);
}

.card--grad4 {
    background-image: linear-gradient(120deg, #f4d03f 0%, #16a085 100%);
}

.card--grad5 {
    background-image: linear-gradient(120deg, #64b3f4 0%, #c2e59c 100%);
}

.card--grad6 {
    background-image: linear-gradient(120deg, #64b3f4 0%, #243949 100%);
}

/* Favorite card class */
.card--favorite {
    background-color: #f6f6f6 !important;
    border: 1px solid rgba(0, 0, 0, 0.15)!important;
    border-radius: 5px;
    height: 90px;
    margin-top: 5px;
}

.card--favorite:hover{
    box-shadow: 0 8px 19px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transform: scale(1.07, 1.07);
}

.card__image--favorite {
    filter:blur(0px);
    height: 48px;
    opacity: 1;
    width: 48px;
}

.card__image--fbs {
    background: url("../img/fb.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    /* border: 1px solid rgba(0, 0, 0, 0.25); */
    /* filter: blur(3px); */
    /* filter: opacity(70%); */
    image-rendering: optimizeQuality;
    margin: auto;
}

.card__image--goog {
    background: url("../img/goog.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    /* border: 1px solid rgba(0, 0, 0, 0.25); */
    /* filter: blur(3px); */
    /* filter: opacity(70%); */
    image-rendering: optimizeQuality;
    margin: auto;
}

.card__image--add {
    background: url("../img/add.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    /* border: 1px solid rgba(0, 0, 0, 0.25); */
    /* filter: blur(3px); */
    /* filter: opacity(70%); */
    image-rendering: optimizeQuality;
    margin: auto;
    opacity: 0.5;
}

.card__image--git {
    background: url("../img/github.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    /* border: 1px solid rgba(0, 0, 0, 0.25); */
    /* filter: blur(1px); */
    /* filter: opacity(70%); */
    image-rendering: optimizeQuality;
    margin: auto;
}

/* Bookmarks, current open and downloads card */
.card--bookmark {
    border: 0 !important;
    border-radius: 5px;
    height: 400px;
    margin-top: 5px;
}

.card--bookmark__list{
    height: 100%;
    list-style-type: none;
    padding: 5px;
    text-align: left;
    width: 100%;
}

.card--bookmark__list li{
    color: #6c757d !important;
    height: 25px;
    margin: 7px 0 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card--bookmark__list li:hover{
    color: #383838 !important;
    cursor: pointer;
}

.card--bookmark__listicon {
    display: block;
    float:left;
    height: 20px;
    margin-right: 10px;
    margin-top: 2px;
    width: 20px;
}


/* Circle */
.circle {
    /* border-radius: 50%; */
    height: 50px;
    margin: auto;
    margin-top: 35px;
    opacity: 1;
    width: 50px;
}

/* Helper Classes */
.m-t-5 {
    margin-top: 5px;
}